<nav>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        
        <span class="fs-4">ACF</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/acf" class="nav-link text-dark" aria-current="page">Acerca de ACF</a></li>
        <li class="nav-item"><a href="/portafolio" class="nav-link text-dark">Portafolio</a></li>
        <li class="nav-item"><a href="/sugerencias" class="nav-link text-dark">Sugerencias</a></li>
        <li class="nav-item"><a href="/contacto" class="nav-link text-dark">Contacto</a></li>
      </ul>
    </header>
  </div>
</nav>