<link rel="stylesheet" href="/css/acf.css">

<div class="acf">
    <div class="biografia">
        <h1>ANDY CHERNIAVSKY</h1>
        <p>
            Nació en Buenos Aires. Desde muy chica, su pasión por la fotografía y el rock la llevó a realizar las imágenes más emblemáticas y las tapas de los discos más importantes del rock argentino de los años 80 y 90. Fue editora fotográfica de la revista G7 durante diez años, y publicó dos libros de fotografía: Corazón argentino y Charly, una biografía fotográfica de Charly García. Su trabajo ha recibido numerosos premios, como el Premio Perfil, el del Círculo de Mujeres Creativas y el del festival El Ojo de Iberoamérica. Junto con Hilda Lizarazu y Nora Lezano, en 2017 realizó en el Palais de Glace la muestra de fotos Los Ángeles de Charly.
        </p>
        <p>
            Actualmente, trabaja como fotógrafa y directora de arte para las principales marcas y agencias publicitarias de la Argentina y el mundo.
        </p>
        <p>
            “Toda mi vida y mi trabajo están construidos con fotografías. Algunas tienen asociadas anécdotas, algunas tienen historias y otras son solamente imágenes. Cada una de estas imágenes me dejó una enseñanza y una manera de ver la vida. Todas las fotos que hice en mi vida me marcaron fundamentalmente porque siempre fui una fan que buscó un lugar dentro del rock argentino”, asegura Andy Cherniavsky.
        </p>
    </div>

    <div class="retrato">
        <img src="/img/retrato.png" class="img-fluid tres" alt="...">
    </div>
</div>