<link rel="stylesheet" href="/css/cantantes.css">

<h1 class="titulo">
    CHARLY GARCÍA
</h1>

<div>
    <img src="/img/CHARLY/1.jpg" class="img-fluid uno" alt="...">
    <img src="/img/CHARLY/2.jpg" class="img-fluid dos" alt="...">
</div>

<div>
    <img src="/img/CHARLY/3.jpg" class="img-fluid tres" alt="...">
    <img src="/img/CHARLY/4.jpg" class="img-fluid cuatro" alt="...">
    <br>
    <img src="/img/CHARLY/5.jpg" class="img-fluid cinco" alt="...">
</div>