<link rel="stylesheet" href="/css/navegables.css">

<div class="formulario">
<div class="container text-center m-5">
    <hr>
    <h1 class="title">
        ¡Recibí las últimas novedades de ACF!
    </h1>
    <hr>
</div>

<div class="container m-5">
    <form action="/contacto" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3 text-center">
        <button type="submit" class="btn btn-danger">Enviar datos</button>
        </div>
    </form>
</div>
</div>

