<link rel="stylesheet" href="/css/navegables.css">

<div class="container text-center m-5 respuesta">
    <hr>
    <h1>
        ¡Tus datos fueron enviados exitosamente!
    </h1>
    <h3>
        Revisá la bandeja de entrada de tu correo electrónico.
    </h3>
    <hr>
</div>