<link rel="stylesheet" href="/css/navegables.css">

<div class="container text-center m-5 respuesta">
    <hr>
    <h1>
        No tenemos conexión a la Database.
    </h1>
    <h3>
        Página de relleno.
    </h3>
    <hr>
</div>