<link rel="stylesheet" href="/css/navegables.css">

<div class="container text-center m-5">
    <hr>
    <h1 class="relleno">
        No tenemos conexión a la Database.
    </h1>
    <h2 class="relleno">
        Página de relleno.
    </h2>
    <hr>
</div>